body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: vazirmatn-bold;
    /* background-color: #dcdcdc; */
}

* {
    font-family: Roboto, Arial, sans-serif;
    /* margin: 0 auto; */
    box-sizing: border-box;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;

}

.pointer{
    cursor: pointer;
}

@media only screen and (max-width:767.98px) {
    .navbar {
        display: none;

    }

    .header-bar {
        /* justify-content:flex-end; */
        justify-content: space-between;
    }

    .info-shop {
        top: 8rem;
        left: 6rem;

    }

}

@media only screen and (max-width:575.98px) {
    .info-shop {

        width: 85%;
        height: 25rem;
        padding: 1.5rem;
        top: 2rem;
        left: 1.5rem;
        /* opaciy: .8; */
    }
    .info-shop h1 {
       
        font-size: 1.4rem;
       
    }
    .btn-order {
        padding: .4rem;
       font-size:1rem ;
    }
    .line {
       
        margin-top: 3rem;
    }
    .subscript-content p {
        text-align: center;
        width: 80%;
        margin-bottom: 1rem;
    }

    .subscript-content {
        flex-direction: column;
        align-items: center;
        /* line-height: 3rem; */
        height: 21.2rem;
        background-color: #781678;
        color: #ffffff;
        width:95%;
        margin: 0 auto;
    }
    .info-site span,p{
       font-size: .8rem;
    }
.menu-humber{
    font-size: 1.8rem;
}
.navbar-md {
    z-index: 1000;
    top: 6rem;
    right: 0;
    width: 100%;


}


.cart i {
    color: #84bf41;
    font-size: 2rem;
}

.logo img {
    width: 5rem;
    height: 4rem;
}
.logo {
    padding: 3rem 1rem 1rem 1rem;
}
.header-bar{
    width: 100%;
    margin: 0 auto;
    margin-top: -2rem;
}

footer a {
    font-size: .8rem;
    margin-right:1.5rem;
    text-decoration: none;
    color: #a79e9e;
    transition: all .4s;

}
.subscript-content h4 {
    font-size: 4vw;
    margin-top: .8rem;
    margin-bottom: 1.5rem;
}
.subscript-content input[type="text"] {
  
    width:50%;
   

.subscript-content button {
  
    width: 35%;
   
}

}
@media only screen and (max-width:1199.98px) {
    .product-item {
    width: calc(100% / 3);
    
    }
}

@media only screen and (max-width:479.98px) {
    footer a {
        font-size: .7rem;
        margin-right:1rem;
        text-decoration: none;
        color: #a79e9e;
        transition: all .4s;
    
    }
    .info-site span,p{
        font-size: .6rem;
     }
}